{% load staticfiles %}

<div class="container-fluid" ng-controller="DropdownsController as vm">
    <div class="row">
        <!-- Dropdown Categories -->
        <div id="dropdown-category" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-center dropdown-container dropdown-hidden" style="text-align: center">
            <div class="dropdown" style="display: inline-block; margin: auto;">
              <button class="btn btn-secondary btn-lg dropdown-toggle btn-question btn-question-big" type="button" id="dropdown-category-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                  <div class="question-text" ng-cloak>
                      <span class="fa-stack fa-lg question-number">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-inverse fa-stack-1x">[[categoryQuestionNumber]]</i>
                        </span>
                      [[selectedDropdownItem.category|capitalizeWord]]
                  </div>
                <i class="fa fa-caret-down"></i>
              </button>

              <ul id="dropdown-category-menu" class="dropdown-menu dropdown-menu-big scrollable-menu" aria-labelledby="dropdown-category-btn">
                <li ng-repeat="(category,dict) in productsDict"><a href="#" ng-click="selectDropdown('category', category)">
                    <!--<img class="image_thumbnail img-thumbnail" src="" />--> [[category|capitalizeWord]]</a></li>
              </ul>
            </div>
        </div>

    </div>
    <div class="row" id="row-flavor">
        <!-- Dropdown flavors -->
        <div id="dropdown-flavor" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-center dropdown-container dropdown-hidden" style="text-align: center">
            <div class="dropdown" style="display: inline-block; margin: auto;">
              <button class="btn btn-secondary btn-lg dropdown-toggle btn-question btn-question-big" ng-class="flavor_number_class" type="button" id="dropdown-flavor-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <div class="question-text">
                      <span class="fa-stack fa-lg question-number">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-inverse fa-stack-1x">[[flavorQuestionNumber]]</i>
                        </span>
                      [[selectedDropdownItem.flavor|capitalizeWord]]
                  </div>
                <i class="fa fa-caret-down"></i>
              </button>

              <ul id="dropdown-flavor-menu" class="dropdown-menu dropdown-menu-big scrollable-menu" aria-labelledby="dropdown-flavor-btn">
                <li ng-repeat="(flavor,dict) in productsDict[selectedDropdownItem.category]['flavors']"><a href="#" ng-click="selectDropdown('flavor', flavor)">[[flavor|capitalizeWord|limitTo:25]]</a></li>
              </ul>
            </div>
        </div>
    </div>
    <div class="row" id="row-size">

        <!-- Dropdown sizes -->
        <div id="dropdown-size" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-center dropdown-container dropdown-hidden" style="text-align: center">
            <div class="dropdown" style="display: inline-block; margin: auto;">
              <button class="btn btn-secondary btn-lg dropdown-toggle btn-question btn-question-big" ng-class="size_number_class" type="button" id="dropdown-size-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <div class="question-text">
                      <span class="fa-stack fa-lg question-number">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-inverse fa-stack-1x">[[sizeQuestionNumber]]</i>
                        </span>
                      [[selectedDropdownItem.size|capitalizeWord]]
                  </div>
                <i class="fa fa-caret-down"></i>
              </button>

              <ul id="dropdown-size-menu" class="dropdown-menu dropdown-menu-big scrollable-menu" aria-labelledby="dropdown-size-btn">
                <li ng-repeat="(size,dict) in productsDict[selectedDropdownItem.category]['flavors'][selectedDropdownItem.flavor]['sizes']"><a href="#" ng-click="selectDropdown('size', size)">[[size|capitalizeWord]]</a></li>
              </ul>
            </div>
        </div>

    </div>

    {% include 'jackies_store/product_preview.html' %}

</div>


